.boton-amarillo {
    @include boton($amarillo, inline-block);
}

.boton-rosa-1 {
    @include boton($afilado2, inline-block);
}

.boton-amarillo-1 {
    @include boton($amarillo1, inline-block);
}

.boton-azul {
    @include boton($azul2, inline-block);
}

.boton-naranjado {
    @include boton($nuestroteam, inline-block);
}
.boton-verdeson3 {
    @include boton($verde_afi3, inline-block);
}
.boton-rosado10 {
    @include boton($afilado3, inline-block);
}
.boton-nuevas-azul3 {
    @include boton($acanalado1, inline-block);
}

.boton-azul-1 {
    @include boton($acanalado3, inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
}

.boton-azul-block {
    @include boton($azul2, block);
}

.boton-verde {
    @include boton($verde, inline-block);
}

.boton-verde-1 {
    @include boton($verde1, inline-block);
}

.boton-rojo-block {
    @include boton($rojo, block);
    width: 100%;
    padding: 1.2rem;
}

.boton-azul-block-1 {
    @include boton($azul2, inline-block);
    width: 75%;
    align-items: center;
    padding: 0.22rem;
    margin: 0.3rem;
}

.boton-rojo-block-1 {
    @include boton($rojo, inline-block);
    width: 75%;
    align-items: center;
    padding: 0.22rem;
    margin: 0.3rem;
}

.boton-verde-block {
    @include boton($verde, block);
}

.boton-verde-block-1 {
    @include boton($verde, inline-block);
    width: 75%;
    align-items: center;
    padding: 0.17rem;
    margin: 0.3rem;
}

.boton-rosa-block {
    @include boton($verde, block);
}


.botones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: auto 25rem;

    @include telefono{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin: auto 0;
    }
    @include tablet{
        grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: auto 25rem;
    }

}