// Fuentes
$fuente_principal:"Outfit", sans-serif;

// Tamaño de Media Queries
$telefono: 411px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$negro: #000000;
$amarillo: #E08709;;
$verde: #71B100;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo:rgb(189, 7, 7);
$azul4:#00c8c2;
$azul3:#007df4;
$azul2:#015FB8;
$azul1:#013C75;
$azul: #007df4;
$rosa: #F3084B;

$secundario: #007df4;


$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900