.formulariobrochas{

    p{
        font-size: 1.4rem;
        color: $blanco;
        margin: 2rem 0 0 0;
    }
    legend{
        font-size: 2rem;
        color: $blanco;
    }

    label{
        font-weight: $bold;
        text-transform: uppercase;
        display: block;
        color: $blanco;
    }
    fieldset{
        @include telefono{
            margin: 1rem 5rem 0rem 5rem;
        }
        @include tablet{
            margin: 2rem 20rem 0rem 20rem;
        }
        @include desktop{
            margin: 3rem 35rem 0rem 35rem;
        }
    }

    input:not([type="submit"]), 
    textarea, 
    select{
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: darken($grisOscuro, 10);
        border-radius: 1rem;
        margin-bottom: 2rem;
        color: $blanco;

    }

    textarea{
        height: 20rem;
        color: $blanco;


    }



    .forma-contacto{
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $blanco;

        
    }
    input[type="radio"]{
        margin: 0;
        width: auto;
        color: $blanco;

    }
}
.n{
    h1{
        font-size: 3rem;
        font-weight: 700;
        color: $blanco;

    }

    
}