table.ordenes {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    

    thead {
        background-color: $azul2;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }
    tbody{
        tr{
            text-align: center;
            font-size: smaller;
            margin-top: 0.2;
            padding: 0;
            color: $blanco;
        }
    }

}

table.ordenes1 {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    

    thead {
        background-color: $rosa3;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }
    tbody{
        tr{
            text-align: center;
            font-size: smaller;
            margin-top: 0.2;
            padding: 0;
            color: $blanco;

        }
    }

}

table.ordenes2 {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    

    thead {
        background-color: $verde2;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }
    tbody{
        tr{
            text-align: center;
            font-size: smaller;
            margin-top: 0.2;
            padding: 0;
            color: $blanco;

        }
    }

}
