.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 1rem;

    &.error{
        background-color: $rojo;
    }

    &.exito{
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 5rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $azul;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }
    tbody{
        tr{
            text-align: center;
            color: $blanco;

        }
    }

    .imagen-tabla{
        width: 10rem;
    }

}
table.propiedades1 {
    margin-top: 5rem;
    width: 100%;
    border-spacing: 0;
    text-shadow: 1.5px 1.5px 1.5px rgba(36, 35, 35, 0.5);

    thead {
        background-color: $nuestroteam2;

        th{
            color: $blanco;
            padding: 1.3rem;
        }
    }
    tbody{
        tr{
            text-align: center;
            color: $blanco;

        }
    }

    .imagen-tabla{
        width: 10rem;
    }

}
table.propiedades2 {
    margin-top: 5rem;
    width: 100%;
    border-spacing: 0;
    text-shadow: 1.5px 1.5px 1.5px rgba(36, 35, 35, 0.5);

    thead {
        background-color: $nuestrosanuncios2;

        th{
            color: $blanco;
            padding: 1.3rem;
        }
    }
    tbody{
        tr{
            text-align: center;
            color: $blanco;

        }
    }

    .imagen-tabla{
        width: 10rem;
    }

}

.imagen-small {
    width: 20rem;
}
